//
// Single Post Element in grid
// --------------------------------------------------
.social-curator-post-grid-single {
	border: 1px solid darken($white, 10%);
	background-color: $white;
	padding: 10px;
	margin-bottom: 20px;
	.social-curator-post-head {
		@include clearfix;
		margin-bottom: 10px;
		.social-curator-post-link {
			float: right;
			a {
				display: block;
				text-decoration: none;
				border: 0;
				position: relative;
				z-index: 1;
			}
		}
		.social-curator-profile-image {
			width: 70px;
			float: left;
			margin-right: 10px;
		}
		p {
			position: relative;
			font-size: .8em;
			line-height: 1.4;
			top: 12px;
		}
	} // .social-curator-post-head
	.social-curator-post-content {
		font-size: .8em;
		padding-top: 10px;
	}
} // .social-curator-post-grid-single